#NARUTO {
    border-radius: 40px;
    width: 250px;
    height: 100px;
    border-style: solid;
    background-color: rgb(139, 124, 111);
    border-color: rgb(73, 66, 59);
    color: aliceblue;
    filter: drop-shadow(10px 10px 6.9px rgba(0, 0, 0, 0.2));
    transition: ease 0.3s;
}

#NARUTO:hover {
    width: 275px;
    height: 125px;
    filter: drop-shadow(15px 15px 6.9px rgba(0, 0, 0, 0.3));
    transition: 0.3s ease;
}

body {
    background-color: rgb(38, 33, 30);
    font-family: 'Noto Sans',Helvetica,Arial,sans-serif;
    color: aliceblue;
}

#DBZ { 
    border-radius: 28px;
    width: 215px;
    height: 65px;
    border-style: solid;
    background-color: rgb(139, 124, 111);
    border-color: rgb(73, 66, 59);
    color: aliceblue;
    filter: drop-shadow(10px 10px 6.9px rgba(0, 0, 0, 0.2));
    transition: ease 0.3s;
}

#DBZ:hover { 
    width: 230px;
    height: 80px;
    filter: drop-shadow(15px 15px 6.9px rgba(0, 0, 0, 0.3));
    transition: 0.3s ease;
}

#hideButtonContainer {
    display: flex;
    justify-content: center;
}


#hideButton {
    border-radius: 28px;
    width: 215px;
    height: 65px;
    border-style: solid;
    background-color: rgb(139, 124, 111);
    border-color: rgb(73, 66, 59);
    color: aliceblue;
    filter: drop-shadow(10px 10px 6.9px rgba(0, 0, 0, 0.2));
    transition: ease 0.3s;
}

#hideButton:hover {
    width: 230px;
    height: 80px;
    filter: drop-shadow(15px 15px 6.9px rgba(0, 0, 0, 0.3));
    transition: 0.3s ease;
}
